*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

/* Index */
nav{
    background: transparent;
    height: 80px;
    width: 100%;
}
.index1{
    height: 100vh;
    width: 100%;
    background-image: url(../img/image.jpg);
    background-position: center;
    background-size:cover;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 15px;
    padding: 8px 15px;
    border-radius: 20px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: crimson;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.content{
    margin: 100px;
    padding: 50px;
}
h1{
    color:#fff;
    margin: 20px 0px 20px;
    font-size:50px ;
}
h4{
    color:#fcfc;
    letter-spacing:2px;
    font-size: 20px;
}
section{
    padding: 40px 15%;
}
@media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
nav ul li a{
      font-size: 16px;
    }
}
@media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
}
/* Contact */
nav{
    background: transparent;
    height: 100px;
    width: 100%;
}
.contact1{
    background:black;
    background-size: cover;
}
.contact{
    background: black;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display:grid;
    grid-template-columns: repeat(2 ,2fr);
    align-items: center;
    grid-gap: 6rem;
}
.contact-img img{
    max-width: 100%;
    width: 720px;
    height: auto;
    border-radius: 10px;
}
.contact-form h1{
    font-size: 80px;
    color: whitesmoke;
}
span{
    color:crimson;
}
.contact-form p{
    color:wheat;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}
.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{
    width:100%;
    padding: 20px;
    border: none;
    outline: none;
    background: #191919;
    color:white;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form form .btn{
    display:inline-block;
    background: crimson;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border:2px solid transparent;
    border-radius: 10px;
    width: 200px;
    transition: ease .30s;
    cursor: pointer;
}
.contact-form form .btn:hover{
    border:2px solid crimson;
    background:transparent;
    transform: scale(1.1);
}
@media (max-width: 1600px){
    section{
        padding:80px 3%;
        transition: .2s;
    }
    .contact-form h1{
        font-size:60px;
    }
    .contact-form p{
        margin-bottom: 3rem;
    }
}
@media (max-width:1100px){
    .contact{
        grid-gap: 2rem;
        transition: .3s;
    }
}
@media (max-width:1000px){
    .contact{
        grid-template-columns: 1fr;
    }
    .contact-form{
        order:2;
    }
    .contact-img img{
        max-width: 100%;
        width: 100%;
        height: auto;
        text-align: center;
        margin-bottom: 30px;

    }
}

/* Blog */
nav{
    background: transparent;
    height: 100px;
    width: 100%;
}
.blog1{
    background: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.container{
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}
section{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;

}
.columns{
    flex: 1;
    border: 1px solid #666;
    margin: 2px;
    padding: 10px;
    background: #3af4d5;
    transition: 0.3s;
}
.columns:first-child {
    margin-left: 0;
    background: #ff307f;

}
.columns:last-child {
    margin-left: 0;
    background: #7f95d1;

}
h3{
    font-size: 30px;
}
@media screen and (max-width: 980px) {
    section.columns {
        margin-bottom: 5px;
        flex-basis: 40%;

    }
    section.columns:last-child {
        flex-basis: 100%;
        margin: 0;

    }
    
}
@media screen and (max-width: 680px) {
    section.columns{
        flex-basis: 100%;
        margin: 0 0 5px 0;

    }
}

/* Portfolio */
.portfolio1{
    background: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
nav{
    background: transparent;
    height: 80px;
    width: 100%;
}
.demo{
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
}
.port{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin:20px;
    padding: 30px;

}
.column{
    flex: 1;
    border: 1px solid #666;
    margin: 2px;
    padding: 10px;
    background: #3af4d5;
    transition: 0.3s;
}
.column:first-child {
    margin-left: 0;
    background: #ff307f;

}
.column:last-child {
    margin-left: 0;
    background: #7f95d1;

}
@media screen and (max-width: 980px) {
    .port.column {
        margin-bottom: 5px;
        flex-basis: 40%;

    }
    .port.column:last-child {
        flex-basis: 100%;
        margin: 0;

    }
}
@media screen and (max-width: 680px) {
    .port.column{
        flex-basis: 100%;
        margin: 0 0 5px 0;

    }
}
/* Site report */
nav{
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-left: 8%;
    padding-right:8%;
    justify-content: space-between;
}
.site1{
    background:black;
    background-size:cover;
}
header{
    float: right;
    margin: 50px;
    font-size: 20px;
    color: white;
}
.report{
    margin: 100px;
    padding: 50px;
}
h2{
    color:white;
    margin: 20px 0px 20px;
    font-size:50px ;
}
p{
    color: white;
    margin: 20px 0px 20px;
    
    letter-spacing: 2px;
}
.img{
    width: 250px;
}
